In [1]:
import pandas as pd

# staff DataFrame
staff_df=pd.DataFrame(
    [
        {'Name':'kelly', 'Role':'Director of HR'},
        {'Name':'sally', 'Role':'course liasion'},
        {'Name':'james', 'Role':'Grader'}
    ]
)

staff_data=staff_df.set_index('Name')

# student DataFrame
student_df=pd.DataFrame(
    [
        {'Name':'james','School':'business'},
        {'Name':'mike','School':'law'},
        {'Name':'sally','School':'engineering'}
    ]

)

student_data=student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

    Name            Role
0  kelly  Director of HR
1  sally  course liasion
2  james          Grader
    Name       School
0  james     business
1   mike          law
2  sally  engineering

In [2]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

  Name_x            Role Name_y       School
0  kelly  Director of HR  james     business
1  sally  course liasion   mike          law
2  james          Grader  sally  engineering