In [14]:
import numpy as np
import pandas as pd
import scipy as stats

In [15]:
df=pd.read_csv ('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [16]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [17]:
early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [18]:
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [19]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [20]:
from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

TtestResult(statistic=np.float64(1.3223540853721392), pvalue=np.float64(0.1861810110171454), df=np.float64(2313.0))

In [21]:
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

TtestResult(statistic=np.float64(1.2514717608216366), pvalue=np.float64(0.2108889627004424), df=np.float64(2313.0))
TtestResult(statistic=np.float64(1.6133726558705392), pvalue=np.float64(0.10679998102227867), df=np.float64(2313.0))
TtestResult(statistic=np.float64(0.049671157386456125), pvalue=np.float64(0.960388729789337), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-0.05279315545404755), pvalue=np.float64(0.9579012739746492), df=np.float64(2313.0))
TtestResult(statistic=np.float64(-0.11609743352612056), pvalue=np.float64(0.9075854011989656), df=np.float64(2313.0))

In [22]:
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.571302,0.938670,0.704900,0.802173,0.702396,0.217469,0.964997,0.019473,0.163066,0.480579,...,0.572875,0.877021,0.796943,0.425377,0.976694,0.810847,0.123559,0.767712,0.277019,0.852055
1,0.254526,0.672088,0.299417,0.796655,0.087864,0.107662,0.991454,0.091936,0.621593,0.613117,...,0.258567,0.245360,0.399272,0.601672,0.689489,0.901003,0.424370,0.454320,0.998654,0.821998
2,0.958763,0.432188,0.306173,0.643778,0.363868,0.151629,0.568980,0.124486,0.772260,0.418333,...,0.386974,0.517497,0.109227,0.342653,0.858706,0.759316,0.758957,0.573302,0.276440,0.932784
3,0.673298,0.683729,0.159323,0.960974,0.087329,0.435070,0.588989,0.246821,0.819252,0.230680,...,0.708813,0.546358,0.274886,0.839453,0.805450,0.295937,0.770855,0.712070,0.494434,0.519567
4,0.668704,0.773965,0.998028,0.268974,0.484906,0.371433,0.168511,0.846996,0.999404,0.976826,...,0.803864,0.582531,0.633973,0.152122,0.758627,0.489450,0.100284,0.443558,0.152370,0.452157

In [23]:
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [24]:
def test_columns(alpha=0.1):
    num_diff=0
    for col in df1.columns:
        teststat,pval=ttest_ind(df1[col],df2[col])
        if pval<=alpha:
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

test_columns()

Col 19 is statistically significantly different at alpha=0.1, pval=0.07804308887963936
Col 22 is statistically significantly different at alpha=0.1, pval=0.08979039116994694
Col 38 is statistically significantly different at alpha=0.1, pval=0.03770501236345504
Col 55 is statistically significantly different at alpha=0.1, pval=0.062398982143958275
Col 58 is statistically significantly different at alpha=0.1, pval=0.04970182305085371
Col 77 is statistically significantly different at alpha=0.1, pval=0.06775272627716597
Col 96 is statistically significantly different at alpha=0.1, pval=0.046638770894443037
Total number different was 7, which is 7.000000000000001%

In [25]:
test_columns(0.05)

Col 38 is statistically significantly different at alpha=0.05, pval=0.03770501236345504
Col 58 is statistically significantly different at alpha=0.05, pval=0.04970182305085371
Col 96 is statistically significantly different at alpha=0.05, pval=0.046638770894443037
Total number different was 3, which is 3.0%

In [26]:
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=8.148465696788527e-05
Col 1 is statistically significantly different at alpha=0.1, pval=0.014661334958210561
Col 2 is statistically significantly different at alpha=0.1, pval=0.0010816138173977247
Col 3 is statistically significantly different at alpha=0.1, pval=0.00717797117653491
Col 4 is statistically significantly different at alpha=0.1, pval=0.00037992970456642364
Col 5 is statistically significantly different at alpha=0.1, pval=0.00792468123557164
Col 6 is statistically significantly different at alpha=0.1, pval=0.0016007505769500185
Col 7 is statistically significantly different at alpha=0.1, pval=0.0011315545422615476
Col 8 is statistically significantly different at alpha=0.1, pval=0.005815319026907692
Col 9 is statistically significantly different at alpha=0.1, pval=8.022648794192451e-05
Col 10 is statistically significantly different at alpha=0.1, pval=1.1198387825446798e-06
Col 11 is statistically significantly different at alpha=0.1, pval=0.06900676885054088
Col 12 is statistically significantly different at alpha=0.1, pval=0.001158842825093961
Col 13 is statistically significantly different at alpha=0.1, pval=0.00018939370677673148
Col 14 is statistically significantly different at alpha=0.1, pval=3.4555922157155565e-05
Col 15 is statistically significantly different at alpha=0.1, pval=5.920284767951898e-05
Col 16 is statistically significantly different at alpha=0.1, pval=0.001695891902313125
Col 17 is statistically significantly different at alpha=0.1, pval=0.0008878455268317756
Col 18 is statistically significantly different at alpha=0.1, pval=0.0026292811422140806
Col 19 is statistically significantly different at alpha=0.1, pval=0.00019093149189535247
Col 20 is statistically significantly different at alpha=0.1, pval=0.0015985218169706403
Col 21 is statistically significantly different at alpha=0.1, pval=0.003403698383764058
Col 22 is statistically significantly different at alpha=0.1, pval=0.0004275866580284114
Col 23 is statistically significantly different at alpha=0.1, pval=0.00044387408369598225
Col 24 is statistically significantly different at alpha=0.1, pval=3.1711680529688376e-05
Col 26 is statistically significantly different at alpha=0.1, pval=2.597673215875149e-05
Col 27 is statistically significantly different at alpha=0.1, pval=0.006296229158322298
Col 28 is statistically significantly different at alpha=0.1, pval=0.000864828403295602
Col 29 is statistically significantly different at alpha=0.1, pval=0.00010063814395860131
Col 30 is statistically significantly different at alpha=0.1, pval=4.5056220076297745e-05
Col 31 is statistically significantly different at alpha=0.1, pval=0.00013565466539625204
Col 32 is statistically significantly different at alpha=0.1, pval=8.199953173102536e-06
Col 33 is statistically significantly different at alpha=0.1, pval=0.0022755722953057113
Col 34 is statistically significantly different at alpha=0.1, pval=0.00010053838767559057
Col 35 is statistically significantly different at alpha=0.1, pval=0.0017804778041854866
Col 36 is statistically significantly different at alpha=0.1, pval=0.00019367921669362047
Col 37 is statistically significantly different at alpha=0.1, pval=0.04549324814637106
Col 38 is statistically significantly different at alpha=0.1, pval=0.0005282123417127511
Col 39 is statistically significantly different at alpha=0.1, pval=0.0011560643430162554
Col 40 is statistically significantly different at alpha=0.1, pval=0.0010438166828171218
Col 41 is statistically significantly different at alpha=0.1, pval=3.383384051166958e-05
Col 42 is statistically significantly different at alpha=0.1, pval=0.0002603564614458118
Col 43 is statistically significantly different at alpha=0.1, pval=5.346554139395712e-07
Col 44 is statistically significantly different at alpha=0.1, pval=0.0003453005263615241
Col 45 is statistically significantly different at alpha=0.1, pval=0.00030140250065030836
Col 46 is statistically significantly different at alpha=0.1, pval=0.0018663596479432552
Col 47 is statistically significantly different at alpha=0.1, pval=0.003871927042345404
Col 48 is statistically significantly different at alpha=0.1, pval=4.1257602913346955e-05
Col 49 is statistically significantly different at alpha=0.1, pval=0.035207722884237784
Col 50 is statistically significantly different at alpha=0.1, pval=0.014457932636203541
Col 51 is statistically significantly different at alpha=0.1, pval=0.00016085264077970277
Col 52 is statistically significantly different at alpha=0.1, pval=0.02747772433872385
Col 53 is statistically significantly different at alpha=0.1, pval=0.00189805179958764
Col 54 is statistically significantly different at alpha=0.1, pval=1.1663768529788284e-06
Col 55 is statistically significantly different at alpha=0.1, pval=0.00020419330865292356
Col 56 is statistically significantly different at alpha=0.1, pval=6.664662330998618e-05
Col 57 is statistically significantly different at alpha=0.1, pval=6.623835153276473e-05
Col 58 is statistically significantly different at alpha=0.1, pval=0.0007163491908000201
Col 59 is statistically significantly different at alpha=0.1, pval=0.001486899797542159
Col 60 is statistically significantly different at alpha=0.1, pval=0.00045033960692995655
Col 61 is statistically significantly different at alpha=0.1, pval=0.0014576264639566785
Col 62 is statistically significantly different at alpha=0.1, pval=0.0002645488028565109
Col 63 is statistically significantly different at alpha=0.1, pval=0.010714948503619186
Col 64 is statistically significantly different at alpha=0.1, pval=0.0025730901629894046
Col 65 is statistically significantly different at alpha=0.1, pval=9.977170750064962e-06
Col 66 is statistically significantly different at alpha=0.1, pval=0.00011025595419670851
Col 67 is statistically significantly different at alpha=0.1, pval=0.0008050236006660852
Col 68 is statistically significantly different at alpha=0.1, pval=3.287863827752477e-05
Col 69 is statistically significantly different at alpha=0.1, pval=0.0006228569303844355
Col 70 is statistically significantly different at alpha=0.1, pval=0.02992789582666751
Col 71 is statistically significantly different at alpha=0.1, pval=0.0005393034865222939
Col 72 is statistically significantly different at alpha=0.1, pval=0.008651295714972536
Col 73 is statistically significantly different at alpha=0.1, pval=4.465509634147296e-06
Col 74 is statistically significantly different at alpha=0.1, pval=0.001016509978128988
Col 75 is statistically significantly different at alpha=0.1, pval=9.456385371650229e-05
Col 76 is statistically significantly different at alpha=0.1, pval=0.0002920325259073256
Col 77 is statistically significantly different at alpha=0.1, pval=0.0004226724180866696
Col 78 is statistically significantly different at alpha=0.1, pval=0.003826867661538096
Col 79 is statistically significantly different at alpha=0.1, pval=0.0012115594666947955
Col 80 is statistically significantly different at alpha=0.1, pval=0.019651056657990513
Col 81 is statistically significantly different at alpha=0.1, pval=0.0002361109320344074
Col 82 is statistically significantly different at alpha=0.1, pval=0.000276938772991835
Col 83 is statistically significantly different at alpha=0.1, pval=0.003159331627911506
Col 84 is statistically significantly different at alpha=0.1, pval=0.00019399657305323273
Col 85 is statistically significantly different at alpha=0.1, pval=2.0764965545859842e-05
Col 86 is statistically significantly different at alpha=0.1, pval=0.001122817668919391
Col 87 is statistically significantly different at alpha=0.1, pval=7.176816285315726e-05
Col 88 is statistically significantly different at alpha=0.1, pval=6.913888994167945e-05
Col 89 is statistically significantly different at alpha=0.1, pval=0.001476711250701358
Col 90 is statistically significantly different at alpha=0.1, pval=1.6760299470415468e-06
Col 91 is statistically significantly different at alpha=0.1, pval=0.00036635011468214967
Col 92 is statistically significantly different at alpha=0.1, pval=0.00012772391846115449
Col 93 is statistically significantly different at alpha=0.1, pval=0.010672985753931531
Col 94 is statistically significantly different at alpha=0.1, pval=6.203850141767952e-06
Col 95 is statistically significantly different at alpha=0.1, pval=6.831105137484529e-07
Col 96 is statistically significantly different at alpha=0.1, pval=0.00013198758448484978
Col 97 is statistically significantly different at alpha=0.1, pval=1.5082438005858657e-06
Col 98 is statistically significantly different at alpha=0.1, pval=0.00013972399236457345
Col 99 is statistically significantly different at alpha=0.1, pval=0.02043265675975482
Total number different was 99, which is 99.0%