In [1]:
import pandas as pd

In [2]:
students=['Alice','Jack','Amanda']
pd.Series(students)

0     Alice
1      Jack
2    Amanda
dtype: object

In [3]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
students=['alice','jack',None]
pd.Series(students)

0    alice
1     jack
2     None
dtype: object

In [5]:
numbers=[1,2,4,None]
pd.Series(numbers)

0    1.0
1    2.0
2    4.0
3    NaN
dtype: float64

In [6]:
import numpy as np
np.nan==None

False

In [7]:
np.nan==np.nan # still false

False

In [8]:
np.isnan(np.nan)

np.True_

In [9]:
student_scores={
    'Alice':'physics',
    'jack':'math',
    'amanda':'chem'
}

s=pd.Series(student_scores)
s

Alice     physics
jack         math
amanda       chem
dtype: object

In [10]:
s.index

Index(['Alice', 'jack', 'amanda'], dtype='object')

In [11]:
students=[('pedro','pascal'),('jack','kirby'),('matt','shackman')]
pd.Series(students)

0     (pedro, pascal)
1       (jack, kirby)
2    (matt, shackman)
dtype: object

In [12]:
s=pd.Series(['physics','chem','math'], index=['jack','alice','amanda'])
s

jack      physics
alice        chem
amanda       math
dtype: object

In [13]:
student_scores={
    'alice':'phy',
    'jack':'math',
    'amanda':'chem'
}
s=pd.Series(student_scores, index=['Alice','molly','sam'])
s

Alice    NaN
molly    NaN
sam      NaN
dtype: object